body {
    background-color: #F4F3EE;
}

header {
    padding: 2em;
    background-color: #BCB8B1;
    margin-top: 2em;
    text-align: center;
    color: azure;
}

header:hover {
    transform: scale(0.8);
    color: #463F3A;
}

.qoute {
    font-size: 2em;
}

.btn-large {
    margin: 2.5em;
}

.card {
    text-align: center;
    width: auto;
    height: auto;
    background-color: teal;
    color: aliceblue;
}

.new-quote-button {
    background-color: #8A817C;
    border-color: beige;
}

#button:hover {
    background-color: #463F3A;
}